.login {
  .login-container {
    justify-content: center;

    .card {
      background-color: var(--color-white);
      padding: 2rem;
      border-radius: 5px;
      border: 1px solid var(--color-border);

      form {
        width: 300px;
      }
    }
  }
}
