.main {
  height: calc(100vh - 6rem); // 6rem represents height of Footer
  padding-top: 6rem; // Header height
  background-color: var(--color-white-alt);

  & > * {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
