.main {
  flex: 1;
  padding-top: 6rem; // Header height
  background-color: var(--color-white-alt);

  & > * {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
