.link {
  position: relative;
  font-weight: 600;
  display: inline-flex;
  overflow: hidden;

  &:hover {
    &:before {
      transform: translateX(0);
    }
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--color-light-black);
    transform: translateX(-101%);
    transition: transform var(--transition-timing) var(--transition-animation);
  }
}

.primary-button {
  position: relative;
  font-size: 0.833rem;
  line-height: 1;
  color: var(--color-white);
  border-radius: 5px;
  border: 1px solid var(--color-primary-border);
  box-shadow: 0 3px 10px rgba(114, 161, 229, 0.35);
  padding: 1rem 1.3rem;
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  z-index: 0;

  &:hover {
    &:after {
      transform: translateX(0);
    }
  }

  &:focus {
    outline: none;
  }

  &:before,
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &:before {
    background-color: var(--color-primary);
  }

  &:after {
    background-color: var(--color-primary-hover);
    transform: translateX(-100%);
    transition: transform var(--transition-timing) var(--transition-animation);
  }
}
