.card {
  background-color: var(--color-white);
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid var(--color-border);

  form {
    width: 300px;
  }
}

.alert {
  position: relative;
  border: 1px solid;
  border-radius: 5px;
  max-width: 300px;
  margin: 0 auto 2rem;
  padding: 1rem 2rem 1rem 3rem;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: 1rem center;
  background-size: 20px;

  &.success {
    background-color: #e3f2e3;
    background-image: url(../assets/alert/success.svg);
    border-color: #d5ecd5;
    color: #1e4620;

    a {
      &:before {
        background: #1e4620;
      }
    }
  }

  &.error {
    background-color: #fcddda;
    background-image: url(../assets/alert/error.svg);
    border-color: #facbc6;
    color: #611a15;

    a {
      &:before {
        background: #611a15;
      }
    }
  }
}
