h1 {
  font-size: var(--font-size-xl);
  margin-bottom: 2.074rem;
}

h2 {
  font-size: var(--font-size-lg);
  margin-bottom: 1.44rem;
}

h3 {
  font-size: var(--font-size-md);
  margin-bottom: 1rem;
}

p {
  line-height: 1.5em;
}
